<% provide :title, t("help") %>
<div class="center jumbotron">
  <h1><%= t "help" %></h1>
  <p>
    <%= t "page.help_page.intro_to_help" %>
    <%= link_to t("rails_tutorial"), locale: "http://www.railstutorial.org/help" %>
    <%= t("page.help_page.intro_to_book") %>
    <%= link_to t("rails_tutorial"), locale: "http://www.railstutorial.org/book" %>
  </p>
</div>
